In [1]:
import pandas as pd
import numpy as np

# PREPROCESSING POPULATION TO BRING RESOLUTION TO 0.1

In [2]:
df=pd.read_csv('data\Topography\SRTM_RAMP2_TOPO_2000-02-11_rgb_3600x1800.SS.CSV',index_col=0)

In [3]:
df.head()

,-179.95,-179.85,-179.75,-179.65,-179.55,-179.45,-179.35,-179.25,-179.15,-179.05,...,179.05,179.15000000000003,179.25,179.35000000000002,179.45,179.55,179.65000000000003,179.75,179.85000000000002,179.95
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.95,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.85,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.75,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.65,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.55,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [4]:
a=[str(round(float(x),2))[:-1] for x in list(df)]

In [5]:
df.columns=a
df.head()

,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,-179.0,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.95,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.85,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.75,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.65,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.55,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [6]:
df.at[89.95,'-179.9']

99999.0

In [7]:
df=df.reset_index()

In [8]:
print(df['lat/lon'])

0       89.95
1       89.85
2       89.75
3       89.65
4       89.55
5       89.45
6       89.35
7       89.25
8       89.15
9       89.05
10      88.95
11      88.85
12      88.75
13      88.65
14      88.55
15      88.45
16      88.35
17      88.25
18      88.15
19      88.05
20      87.95
21      87.85
22      87.75
23      87.65
24      87.55
25      87.45
26      87.35
27      87.25
28      87.15
29      87.05
        ...
1770   -87.05
1771   -87.15
1772   -87.25
1773   -87.35
1774   -87.45
1775   -87.55
1776   -87.65
1777   -87.75
1778   -87.85
1779   -87.95
1780   -88.05
1781   -88.15
1782   -88.25
1783   -88.35
1784   -88.45
1785   -88.55
1786   -88.65
1787   -88.75
1788   -88.85
1789   -88.95
1790   -89.05
1791   -89.15
1792   -89.25
1793   -89.35
1794   -89.45
1795   -89.55
1796   -89.65
1797   -89.75
1798   -89.85
1799   -89.95
Name: lat/lon, Length: 1800, dtype: float64

In [9]:
ind=[ float(str(round(float(x),2))[:-1]) for x in df['lat/lon']]

In [10]:
n = df.columns[0]
df.drop(n, axis = 1, inplace = True)
df.insert(loc=0, column='lat/lon', value=ind)

In [11]:
df

,lat/lon,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
0,89.9,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
1,89.8,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
2,89.7,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
3,89.6,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
4,89.5,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
5,89.4,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
6,89.3,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
7,89.2,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
8,89.1,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
9,89.0,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
10,88.9,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
11,88.8,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
12,88.7,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
13,88.6,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
14,88.5,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
15,88.4,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
16,88.3,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
17,88.2,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
18,88.1,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
19,88.0,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
20,87.9,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
21,87.8,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
22,87.7,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
23,87.6,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
24,87.5,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
25,87.4,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
26,87.3,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
27,87.2,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
28,87.1,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
29,87.0,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1770,-87.0,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1771,-87.1,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1772,-87.2,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1773,-87.3,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1774,-87.4,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1775,-87.5,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1776,-87.6,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,...,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01
1777,-87.7,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,...,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01
1778,-87.8,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,...,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83
1779,-87.9,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,...,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83
1780,-88.0,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,...,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84
1781,-88.1,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,...,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84
1782,-88.2,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,...,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84
1783,-88.3,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,...,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84
1784,-88.4,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,...,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84,3107.84
1785,-88.5,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,...,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83
1786,-88.6,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,...,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83,3072.83
1787,-88.7,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,...,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01
1788,-88.8,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,...,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01,3038.01
1789,-88.9,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,...,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39,3003.39
1790,-89.0,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,...,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96
1791,-89.1,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2934.74,2934.74,...,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96,2968.96
1792,-89.2,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,...,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74,2934.74
1793,-89.3,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,...,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71,2900.71
1794,-89.4,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,...,2900.71,2900.71,2900.71,2900.71,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89
1795,-89.5,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,...,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89,2866.89
1796,-89.6,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,...,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26,2833.26
1797,-89.7,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,...,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59
1798,-89.8,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,...,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59,2766.59
1799,-89.9,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,...,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56,2733.56

In [12]:
df=df.set_index('lat/lon')

In [13]:
df.head()

,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,-179.0,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.9,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.8,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.7,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.6,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.5,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [14]:
df.at[89.9,'-179.9']

99999.0

In [15]:
df.to_csv(r'data\Topography\ResampledTopography.csv')

In [16]:
data=[]

for i in list(df.index):
    for j in list(df.columns):
        data.append([ i , j , df.at[i,j] ])

In [17]:
top = pd.DataFrame(data,columns=['latitude','longitude','topography'])

In [19]:
top['longitude']=top['longitude'].astype('float32')

In [21]:
top.to_csv('data\Topography\TopographyData.csv',index=False)

# Merging data

In [24]:
dfgtd=pd.read_csv('data\gtd_geoecon_pop_geoepr_join.csv')

In [25]:
dftop=pd.read_csv(r'data\Topography\ResampledTopography.csv',index_col=0)

In [26]:
dfgtd.shape

(142791, 11)

In [27]:
dftop.shape

(1800, 3600)

In [28]:
dftop.head()

,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,-179.0,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.9,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.8,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.7,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.6,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.5,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [29]:
dfgtd.loc[0].latitude

18.5

In [30]:
l=[]

for i in range(dfgtd.shape[0]):
    x=dfgtd.loc[i].latitude
    y=dfgtd.loc[i].longitude
    try:
        l.append(dftop.at[x,str(y)])
    except KeyError:
        l.append(99999.0)
        print(i)

In [32]:
len(l)

142791

In [33]:
dfgtd['topography_elevation']=l

In [34]:
dfgtd.head()

,latitude,longitude,nkill,days_passed,DIS_LAKE,DIS_MAJOR_RIVER,DIS_OCEAN,PRECI_AVG,TEMP_AVG,population,ethnic_groups,topography_elevation
0,18.5,-70.0,1,17834,1415040.0,1285293.0,33082.41,1703.198276,26.640805,2180.63,99999,62
1,34.8,37.3,1,1406,73722.0,1133031.0,140738.70,198.627586,17.571624,14.11,1,821.48
2,14.5,44.4,1,1407,826500.5,1737351.0,196373.80,347.809479,20.158693,214.15,3,2445.19
3,36.5,40.7,1,1407,167311.2,943071.2,432522.10,542.012062,16.618319,178.64,3,311.09
4,33.6,36.3,1,1406,199295.5,1169763.0,56242.69,516.005172,14.889152,74.82,1,1157.07

In [35]:
dfgtd.to_csv('data\gtd_geoecon_pop_geoepr_topography_join.csv')