In [1]:
import pandas as pd
import numpy as np

# PREPROCESSING POPULATION TO BRING RESOLUTION TO 0.1

In [2]:
dfp=pd.read_csv('data\Population\SEDAC_POP_2000-01-01_rgb_3600x1800.SS.CSV',index_col=0)

In [3]:
dfp.head()

,-179.95,-179.85,-179.75,-179.65,-179.55,-179.45,-179.35,-179.25,-179.15,-179.05,...,179.05,179.15000000000003,179.25,179.35000000000002,179.45,179.55,179.65000000000003,179.75,179.85000000000002,179.95
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.95,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.85,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.75,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.65,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.55,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [4]:
a=[str(round(float(x),2))[:-1] for x in list(dfp)]

In [5]:
dfp.columns=a
dfp.head()

,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,-179.0,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.95,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.85,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.75,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.65,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.55,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [6]:
dfp.at[89.95,'-179.9']

99999.0

In [7]:
dfp=dfp.reset_index()

In [8]:
dfp['lat/lon']

0       89.95
1       89.85
2       89.75
3       89.65
4       89.55
5       89.45
6       89.35
7       89.25
8       89.15
9       89.05
10      88.95
11      88.85
12      88.75
13      88.65
14      88.55
15      88.45
16      88.35
17      88.25
18      88.15
19      88.05
20      87.95
21      87.85
22      87.75
23      87.65
24      87.55
25      87.45
26      87.35
27      87.25
28      87.15
29      87.05
        ...
1770   -87.05
1771   -87.15
1772   -87.25
1773   -87.35
1774   -87.45
1775   -87.55
1776   -87.65
1777   -87.75
1778   -87.85
1779   -87.95
1780   -88.05
1781   -88.15
1782   -88.25
1783   -88.35
1784   -88.45
1785   -88.55
1786   -88.65
1787   -88.75
1788   -88.85
1789   -88.95
1790   -89.05
1791   -89.15
1792   -89.25
1793   -89.35
1794   -89.45
1795   -89.55
1796   -89.65
1797   -89.75
1798   -89.85
1799   -89.95
Name: lat/lon, Length: 1800, dtype: float64

In [9]:
ind=[ float(str(round(float(x),2))[:-1]) for x in dfp['lat/lon']]

In [10]:
n = dfp.columns[0]
dfp.drop(n, axis = 1, inplace = True)
dfp.insert(loc=0, column='lat/lon', value=ind)

In [11]:
dfp

,lat/lon,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
0,89.9,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
1,89.8,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
2,89.7,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
3,89.6,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
4,89.5,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
5,89.4,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
6,89.3,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
7,89.2,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
8,89.1,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
9,89.0,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
10,88.9,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
11,88.8,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
12,88.7,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
13,88.6,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
14,88.5,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
15,88.4,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
16,88.3,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
17,88.2,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
18,88.1,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
19,88.0,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
20,87.9,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
21,87.8,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
22,87.7,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
23,87.6,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
24,87.5,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
25,87.4,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
26,87.3,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
27,87.2,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
28,87.1,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
29,87.0,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,...,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00,99999.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1770,-87.0,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1771,-87.1,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1772,-87.2,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1773,-87.3,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1774,-87.4,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1775,-87.5,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1776,-87.6,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1777,-87.7,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1778,-87.8,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1779,-87.9,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1780,-88.0,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1781,-88.1,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1782,-88.2,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1783,-88.3,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1784,-88.4,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1785,-88.5,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1786,-88.6,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1787,-88.7,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1788,-88.8,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1789,-88.9,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1790,-89.0,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1791,-89.1,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1792,-89.2,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1793,-89.3,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1794,-89.4,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1795,-89.5,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1796,-89.6,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1797,-89.7,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1798,-89.8,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04
1799,-89.9,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,...,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04

In [12]:
dfp=dfp.set_index('lat/lon')

In [13]:
dfp.head()

,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,-179.0,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.9,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.8,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.7,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.6,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.5,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [14]:
dfp.at[89.9,'-179.9']

99999.0

In [15]:
dfp.to_csv(r'data\Population\resampledPopulation.csv')

In [18]:
data=[]

for i in list(dfp.index):
    for j in list(dfp.columns):
        data.append([ i , j , dfp.at[i,j] ])

In [25]:
pop = pd.DataFrame(data,columns=['latitude','longitude','population'])

In [26]:
pop['longitude']=pop['longitude'].astype('float32')

In [23]:
pop.to_csv('data\Population\PopulationData.csv',index=False)

In [24]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6480000 entries, 0 to 6479999
Data columns (total 3 columns):
latitude      float64
longitude     float32
population    object
dtypes: float32(1), float64(1), object(1)
memory usage: 123.6+ MB

# Merging data

In [198]:
dfgtd=pd.read_csv('data\gtd_gecon_join.csv')

In [184]:
dfp=pd.read_csv(r'data\Population\resampledPopulation.csv',index_col=0)

In [210]:
dfgtd.shape

(142792, 9)

In [187]:
dfp.head()

,-179.9,-179.8,-179.7,-179.6,-179.5,-179.4,-179.3,-179.2,-179.1,-179.0,...,179.0,179.1,179.2,179.3,179.4,179.5,179.6,179.7,179.8,179.9
lat/lon,,,,,,,,,,,,,,,,,,,,,
89.9,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.8,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.7,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.6,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0
89.5,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,...,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0,99999.0

In [202]:
dfgtd.loc[0].latitude

18.5

In [211]:
l=[]

for i in range(dfgtd.shape[0]):
    x=dfgtd.loc[i].latitude
    y=dfgtd.loc[i].longitude
    try:
        l.append(dfp.at[x,str(y)])
    except KeyError:
        l.append(99999.0)
        print(i)

31757

In [218]:
l

[2180.63,
 14.11,
 214.15,
 178.64,
 74.82,
 138.59,
 60.19,
 178.64,
 99999.0,
 154.52,
 530.16,
 37.57,
 1463.37,
 1463.37,
 64.72,
 12.21,
 99999.0,
 10.18,
 1463.37,
 1463.37,
 60.19,
 1463.37,
 3.08,
 64.72,
 29.15,
 426.5,
 4188.39,
 41.88,
 89.69,
 52.06,
 58.05,
 1312.53,
 10.95,
 178.64,
 133.65,
 10.95,
 138.59,
 1463.37,
 1463.37,
 1463.37,
 58.05,
 3.08,
 10000.0,
 612.92,
 591.09,
 591.09,
 1886.21,
 83.42,
 9.13,
 115.61,
 10.95,
 214.15,
 178.64,
 382.54,
 214.15,
 43.43,
 411.31,
 154.52,
 382.54,
 67.11,
 33.69,
 138.59,
 28.11,
 178.64,
 1463.37,
 86.5,
 214.15,
 591.09,
 115.61,
 214.15,
 72.16,
 50.21,
 67.11,
 83.42,
 1220.71,
 10.95,
 115.61,
 4.11,
 6.13,
 1463.37,
 29.15,
 99999.0,
 21.03,
 1463.37,
 1463.37,
 1463.37,
 1886.21,
 382.54,
 570.04,
 160.22,
 107.52,
 69.59,
 1055.9,
 1361.0,
 1312.53,
 612.92,
 1463.37,
 37.57,
 206.52,
 133.65,
 15.17,
 46.7,
 761.89,
 1463.37,
 64.72,
 24.31,
 34.94,
 1463.37,
 143.71,
 83.42,
 37.57,
 119.88,
 1018.3,
 83.42,
 10000.0,
 426.5,
 99999.0,
 21.81,
 67.11,
 89.69,
 33.69,
 1463.37,
 24.31,
 29.15,
 30.22,
 3.08,
 18.19,
 37.57,
 38.95,
 154.52,
 99999.0,
 37.57,
 1177.24,
 83.42,
 99999.0,
 48.42,
 107.52,
 69.59,
 13.13,
 143.71,
 1886.21,
 1.04,
 1361.0,
 138.59,
 1.04,
 74.82,
 172.27,
 591.09,
 1463.37,
 172.27,
 37.57,
 1463.37,
 10.95,
 37.57,
 1265.79,
 138.59,
 10.95,
 119.88,
 154.52,
 16.32,
 5398.63,
 99999.0,
 58.05,
 10.95,
 1463.37,
 83.42,
 99999.0,
 10000.0,
 77.58,
 172.27,
 86.5,
 1.04,
 10.95,
 286.22,
 1018.3,
 58.05,
 30.22,
 591.09,
 222.05,
 37.57,
 21.81,
 46.7,
 1.04,
 138.59,
 18.86,
 296.78,
 6241.31,
 74.82,
 355.78,
 199.16,
 67.11,
 256.71,
 34.94,
 25.21,
 29.15,
 14.11,
 1463.37,
 1463.37,
 37.57,
 1411.26,
 64.72,
 69.59,
 99999.0,
 222.05,
 37.57,
 143.71,
 48.42,
 16.32,
 46.7,
 36.23,
 124.3,
 143.71,
 89.69,
 1463.37,
 1463.37,
 6.13,
 143.71,
 58.05,
 37.57,
 1463.37,
 319.11,
 1.04,
 458.58,
 52.06,
 849.44,
 160.22,
 30.22,
 1.04,
 1018.3,
 99999.0,
 612.92,
 38.95,
 549.74,
 37.57,
 37.57,
 4.11,
 458.58,
 96.44,
 286.22,
 93.0,
 21.81,
 80.45,
 6241.31,
 1463.37,
 1463.37,
 286.22,
 1463.37,
 1463.37,
 1463.37,
 67.11,
 230.25,
 591.09,
 6241.31,
 1463.37,
 10.18,
 1463.37,
 7.09,
 69.59,
 60.19,
 26.14,
 28.11,
 60.19,
 24.31,
 819.19,
 37.57,
 52.06,
 37.57,
 1463.37,
 80.45,
 55.98,
 2710.63,
 115.61,
 10.95,
 10.95,
 10.95,
 549.74,
 511.28,
 28.11,
 880.81,
 29.15,
 107.52,
 12.21,
 982.03,
 2521.01,
 1463.37,
 60.19,
 52.06,
 266.19,
 83.42,
 10000.0,
 67.11,
 1055.9,
 442.25,
 10.95,
 86.5,
 591.09,
 25.21,
 1.04,
 64.72,
 30.22,
 6.13,
 31.34,
 166.14,
 37.57,
 319.11,
 10.95,
 55.98,
 185.23,
 48.42,
 178.64,
 77.58,
 55.98,
 83.42,
 1463.37,
 37.57,
 33.69,
 591.09,
 1463.37,
 52.06,
 4.11,
 178.64,
 77.58,
 230.25,
 43.43,
 83.42,
 74.82,
 819.19,
 37.57,
 18.19,
 5.11,
 222.05,
 21.81,
 458.58,
 86.5,
 99999.0,
 86.5,
 18.86,
 67.11,
 30.22,
 83.42,
 37.57,
 38.95,
 1463.37,
 33.69,
 475.52,
 52.06,
 83.42,
 12.21,
 849.44,
 99999.0,
 1312.53,
 99999.0,
 1312.53,
 4.11,
 10.95,
 138.59,
 28.11,
 2102.98,
 83.42,
 1463.37,
 138.59,
 172.27,
 214.15,
 458.58,
 89.69,
 36.23,
 154.52,
 18.19,
 33.69,
 21.03,
 458.58,
 60.19,
 23.45,
 1463.37,
 1463.37,
 1463.37,
 368.92,
 18.86,
 33.69,
 18.19,
 34.94,
 6019.04,
 83.42,
 38.95,
 28.11,
 570.04,
 1886.21,
 319.11,
 1361.0,
 115.61,
 149.01,
 1463.37,
 276.02,
 86.5,
 343.11,
 206.52,
 1463.37,
 1463.37,
 1463.37,
 20.28,
 330.89,
 214.15,
 83.42,
 13.13,
 6.13,
 1463.37,
 1463.37,
 1463.37,
 185.23,
 83.42,
 24.31,
 214.15,
 30.22,
 99999.0,
 37.57,
 1463.37,
 1463.37,
 1463.37,
 1463.37,
 1463.37,
 52.06,
 29.15,
 6471.78,
 10.95,
 10.95,
 178.64,
 880.81,
 16.32,
 12.21,
 1055.9,
 411.31,
 99999.0,
 238.76,
 166.14,
 40.39,
 100.0,
 10.18,
 1463.37,
 1463.37,
 60.19,
 1463.37,
 30.22,
 77.58,
 21.03,
 238.76,
 199.16,
 86.5,
 27.11,
 34.94,
 43.43,
 41.88,
 93.0,
 26.14,
 1055.9,
 10000.0,
 6.13,
 1463.37,
 1463.37,
 143.71,
 99999.0,
 247.57,
 1463.37,
 64.72,
 1463.37,
 107.52,
 549.74,
 343.11,
 178.64,
 93.0,
 382.54,
 29.15,
 230.25,
 247.57,
 4188.39,
 1691.79,
 128.9,
 1463.37,
 21.03,
 1312.53,
 9.13,
 37.57,
 591.09,
 319.11,
 1463.37,
 37.57,
 247.57,
 138.59,
 74.82,
 214.15,
 74.82,
 1463.37,
 1463.37,
 206.52,
 10.95,
 115.61,
 1463.37,
 1463.37,
 355.78,
 1463.37,
 1463.37,
 10.95,
 849.44,
 343.11,
 99999.0,
 138.59,
 5206.37,
 60.19,
 38.95,
 206.52,
 18.86,
 89.69,
 37.57,
 1463.37,
 1.04,
 1463.37,
 67.11,
 18.19,
 819.19,
 21.81,
 149.01,
 511.28,
 10.95,
 1463.37,
 37.57,
 10.95,
 115.61,
 549.74,
 880.81,
 33.69,
 1463.37,
 683.35,
 458.58,
 368.92,
 178.64,
 319.11,
 86.5,
 74.82,
 411.31,
 1463.37,
 99999.0,
 206.52,
 83.42,
 31.34,
 72.16,
 48.42,
 99999.0,
 458.58,
 160.22,
 37.57,
 37.57,
 93.0,
 67.11,
 64.72,
 475.52,
 107.52,
 86.5,
 8.19,
 52.06,
 58.05,
 1312.53,
 549.74,
 53.99,
 149.01,
 29.15,
 52.06,
 46.7,
 46.7,
 16.32,
 6.13,
 83.42,
 83.42,
 2261.16,
 6.13,
 15.17,
 133.65,
 10.95,
 55.98,
 458.58,
 115.61,
 1463.37,
 1463.37,
 10.95,
 1135.32,
 1955.86,
 708.59,
 10000.0,
 119.88,
 99999.0,
 178.64,
 53.99,
 96.44,
 382.54,
 124.3,
 28.11,
 16.32,
 60.19,
 138.59,
 93.0,
 1463.37,
 100.0,
 1463.37,
 1463.37,
 115.61,
 67.11,
 60.19,
 58.05,
 58.05,
 16.32,
 86.5,
 222.05,
 37.57,
 166.14,
 612.92,
 178.64,
 138.59,
 21.03,
 178.64,
 330.89,
 1.04,
 1463.37,
 30.22,
 1312.53,
 199.16,
 10.95,
 1463.37,
 1463.37,
 13.13,
 14.11,
 28.11,
 37.57,
 1463.37,
 83.42,
 160.22,
 67.11,
 178.64,
 178.64,
 77.58,
 1463.37,
 1.04,
 1463.37,
 10.95,
 25.21,
 21.81,
 133.65,
 10.95,
 119.88,
 40.39,
 10.18,
 1312.53,
 37.57,
 33.69,
 99999.0,
 37.57,
 1135.32,
 1819.04,
 307.74,
 83.42,
 99999.0,
 343.11,
 53.99,
 214.15,
 1463.37,
 10.95,
 48.42,
 86.5,
 1463.37,
 1.04,
 124.3,
 3493.87,
 1312.53,
 43.43,
 734.75,
 1463.37,
 343.11,
 1463.37,
 86.5,
 58.05,
 86.5,
 635.55,
 86.5,
 77.58,
 23.45,
 86.5,
 1.04,
 178.64,
 13.13,
 192.07,
 115.61,
 10.95,
 1463.37,
 1094.89,
 64.72,
 382.54,
 37.57,
 24.31,
 819.19,
 60.19,
 41.88,
 10000.0,
 222.05,
 26.14,
 1018.3,
 10000.0,
 222.05,
 18.86,
 74.82,
 192.07,
 6.13,
 15.17,
 46.7,
 60.19,
 21.03,
 99999.0,
 34.94,
 31.34,
 6.13,
 25.21,
 172.27,
 1463.37,
 3.08,
 74.82,
 83.42,
 138.59,
 1463.37,
 74.82,
 46.7,
 3.08,
 1819.04,
 880.81,
 93.0,
 23.45,
 115.61,
 28.11,
 12.21,
 426.5,
 48.42,
 1463.37,
 1463.37,
 1463.37,
 1463.37,
 99999.0,
 185.23,
 72.16,
 16.92,
 99999.0,
 790.02,
 83.42,
 24.31,
 26.14,
 178.64,
 37.57,
 2261.16,
 46.7,
 30.22,
 343.11,
 18.86,
 138.59,
 99999.0,
 166.14,
 99999.0,
 10000.0,
 60.19,
 149.01,
 25.21,
 286.22,
 6.13,
 192.07,
 58.05,
 133.65,
 111.49,
 96.44,
 60.19,
 100.0,
 1463.37,
 58.05,
 16.92,
 100.0,
 2710.63,
 55.98,
 475.52,
 128.9,
 192.07,
 154.52,
 1463.37,
 1463.37,
 1463.37,
 37.57,
 107.52,
 368.92,
 1018.3,
 23.45,
 23.45,
 849.44,
 1135.32,
 549.74,
 133.65,
 276.02,
 368.92,
 96.44,
 99999.0,
 99999.0,
 83.42,
 1463.37,
 426.5,
 58.05,
 37.57,
 1463.37,
 635.55,
 1312.53,
 24.31,
 115.61,
 1.04,
 591.09,
 238.76,
 67.11,
 1463.37,
 37.57,
 58.05,
 60.19,
 1463.37,
 458.58,
 115.61,
 1463.37,
 6241.31,
 46.7,
 26.14,
 708.59,
 15.17,
 60.19,
 1463.37,
 103.69,
 5.11,
 761.89,
 14.11,
 25.21,
 10.95,
 635.55,
 3.08,
 16.32,
 1265.79,
 96.44,
 96.44,
 60.19,
 64.72,
 849.44,
 3895.39,
 99999.0,
 53.99,
 18.19,
 46.7,
 53.99,
 28.11,
 103.69,
 143.71,
 107.52,
 1055.9,
 15.17,
 86.5,
 10.95,
 74.82,
 1463.37,
 10.95,
 115.61,
 149.01,
 138.59,
 1312.53,
 15.17,
 1463.37,
 5.11,
 13.13,
 160.22,
 100.0,
 28.11,
 1463.37,
 99999.0,
 96.44,
 100.0,
 99999.0,
 396.67,
 530.16,
 53.99,
 21.03,
 99999.0,
 1463.37,
 1463.37,
 1463.37,
 396.67,
 4.11,
 100.0,
 3.08,
 1312.53,
 50.21,
 1463.37,
 1463.37,
 29.15,
 849.44,
 74.82,
 32.49,
 138.59,
 115.61,
 1463.37,
 6958.56,
 83.42,
 9.13,
 10000.0,
 13.13,
 37.57,
 93.0,
 10.95,
 549.74,
 10.95,
 74.82,
 493.08,
 307.74,
 143.71,
 1463.37,
 37.57,
 1463.37,
 103.69,
 612.92,
 16.32,
 2710.63,
 77.58,
 222.05,
 53.99,
 31.34,
 27.11,
 96.44,
 37.57,
 13.13,
 138.59,
 849.44,
 185.23,
 72.16,
 4.11,
 100.0,
 1463.37,
 1463.37,
 849.44,
 18.19,
 86.5,
 5.11,
 25.21,
 33.69,
 3022.14,
 355.78,
 37.57,
 99999.0,
 166.14,
 37.57,
 83.42,
 1463.37,
 10.95,
 10.95,
 37.57,
 1463.37,
 160.22,
 12.21,
 12.21,
 28.11,
 37.57,
 99999.0,
 1463.37,
 37.57,
 21.03,
 72.16,
 28.11,
 266.19,
 37.57,
 8.19,
 115.61,
 36.23,
 4188.39,
 28.11,
 849.44,
 149.01,
 1886.21,
 10.95,
 74.82,
 570.04,
 307.74,
 80.45,
 185.23,
 23.45,
 3.08,
 138.59,
 138.59,
 143.71,
 21.03,
 14.11,
 25.21,
 45.03,
 37.57,
 138.59,
 64.72,
 1463.37,
 591.09,
 69.59,
 86.5,
 138.59,
 ...]

In [216]:
dfgtd.insert(loc=9,column='population', value=l,dtype=)

In [217]:
dfgtd.head()

,latitude,longitude,nkill,days_passed,DIS_LAKE,DIS_MAJOR_RIVER,DIS_OCEAN,PRECI_AVG,TEMP_AVG,population
0,18.5,-70.0,1,17834,1415040.0,1285293.0,33082.41,1703.198276,26.640805,2180.63
1,34.8,37.3,1,1406,73722.0,1133031.0,140738.70,198.627586,17.571624,14.11
2,14.5,44.4,1,1407,826500.5,1737351.0,196373.80,347.809479,20.158693,214.15
3,36.5,40.7,1,1407,167311.2,943071.2,432522.10,542.012062,16.618319,178.64
4,33.6,36.3,1,1406,199295.5,1169763.0,56242.69,516.005172,14.889152,74.82

In [219]:
dfgtd.to_csv('data\gtd_gecon_pop_join.csv')

In [3]:
dfgtd=pd.read_csv('data\gtd_gecon_pop_join.csv')

In [21]:
dfgtd.at[3,'population']

'178.64'