In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('data\GTD\improvisedgtddata.csv')

In [5]:
df.head()

   latitude  longitude  nkill  days_passed
0      18.5      -70.0      1        17834
1      34.8       37.3      1         1406
2      14.5       44.4      1         1407
3      36.5       40.7      1         1407
4      33.6       36.3      1         1406